<%- include('partials/_header.ejs') %>
	<%- include('partials/_navigation.ejs') %>
		<!-- End header -->

		<div class="all-title-box">
			<div class="container text-center">
				<h1>
					<%= course.name %>
				</h1>
			</div>
		</div>

		<div id="overviews" class="section wb">
			<div class="container">
				<div class="row">
					<div class="col-lg-9 blog-post-single">
						<div class="blog-item">
							<div class="image-blog">
								<img src="/images/blog_single.jpg" alt="" class="img-fluid">
							</div>
							<div class="post-content">
								<% if (user && !(user.courses.includes(course._id)) ) { %>
									<div class="post-date">
										<form method="POST" action="/courses/enroll">
											<input type="hidden" name="course_id" value="<%= course._id %>">
											<button
												class="btn btn-lg btn-warning text-white"><span>ENROLL</span></button>
										</form>
									</div>
									<% } %>
										<div class="meta-info-blog">
											<span><i class="fa fa-calendar"></i> <a href="#">May 11, 2015</a> </span>
										</div>
										<div class="blog-title">
											<h2><a href="#" title="">
													<%= course.name %>
												</a></h2>
										</div>
										<div class="blog-desc">
											<blockquote class="default">
												<%= course.description %>
											</blockquote>
										</div>
										<h3 class="author_name">
											<p>This course is given by: <a href="#">
													<%= course.user.name %>
												</a>
											</p>
										</h3>
							</div>
						</div>
					</div><!-- end container -->
					<div class="col-lg-3 col-12 right-single">
						<div class="widget-search">
							<div class="site-search-area">
								<form method="GET" id="site-searchform" action="/courses">
									<div>
										<input class="input-text form-control" name="search" id="search-k"
											placeholder="Search..." type="text">
										<button id="searchsubmit" value="Search" type="submit"></button>
									</div>
								</form>
							</div>
						</div>
						<div class="widget-categories">
							<h3 class="widget-title">Categories</h3>
							<ul>
								<% for (let i=0; i< categories.length; i++) { %>
									<li><a href="/courses?categories=<%= categories[i].slug %>">
											<%= categories[i].name %>
										</a></li>
									<% } %>
							</ul>
						</div>
					</div>
				</div><!-- end section -->
			</div>
		</div>

		<%- include('partials/_footer.ejs') %>